*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* padding */
  --padding-large: 2.8rem;
  --padding-m: 1.5rem;
  --padding-s: 1.2rem;
  /* fonts */
  --xlarge-font: 3.5rem;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --small-font: 1rem;
  /* backgrounds */
  --header-bg: rgba(0, 0, 0, 0.95);
  /* colors */
  --primary-color: white;
  --secondary-color: #d61831;
  --tertiary-color: #474441;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

/* header */

.header {
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);
  height: 15vh;
}
.header_left,
.header_right .nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_left {
  gap: 2rem;
}

.header_left button {
  font-size: var(--small-font);
  cursor: pointer;
}

.header_right .nav_links {
  justify-content: space-evenly;
}

.header_right .nav_links a {
  color: var(--primary-color);
  font-size: var(--medium-font);
}

.header_left,
.header_right {
  flex: 1;
}

.header_left .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}

.header_left .logo_container img {
  object-fit: cover;
}

.header_left button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* hero */

.hero {
  width: 100%;
  height: calc(100vh - 15vh);

  position: relative;
}

.hero video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: var(--padding-m);
  z-index: 30;
  height: 100%;
}

.hero_left,
.hero_right {
  flex: 1;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding-large);
  background-color: var(--header-bg);
}
.hero_left #title {
  font-size: var(--xlarge-font);
  color: var(--primary-color);
}
.hero_left .desc {
  font-size: var(--medium-font);
  color: var(--primary-color);
}

.hero_btn {
  text-decoration: none;
  font-size: var(--medium-font);
  border: 3px solid var(--secondary-color);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 35px;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.hero_btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero_right .hero_img_container {
  width: 100%;
}
.hero_right img {
  width: 100%;
  object-fit: cover;
}

/* media queries */
@media (max-width: 950px) {
  .header_right {
    display: none;
  }
}
