@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* padding */
  --padding-large: 2.8rem;
  --padding-m: 1.5rem;
  --padding-s: 1.2rem;
  /* fonts */
  --xlarge-font: 3rem;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --small-font: 1rem;
  /* backgrounds */
  --header-bg: rgba(0, 0, 0, 0.95);
  /* colors */
  --primary-color: white;
  --secondary-color: #d61831;
  --tertiary-color: #474441;
}

@font-face {
  font-family: 'DeathNote';
  src: url('../fonts/death_note_font_by_karlibell22-webfont.woff2')
      format('woff2'),
    url('../fonts/death_note_font_by_karlibell22-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'DeathNote', 'Neucha', sans-serif;
}

.content_wrapper {
  flex-grow: 1;
}

/* header */

.header {
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);
  height: 15vh;
}
.header_left,
.header_right .nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_left {
  gap: 2rem;
}

.header_left button {
  font-size: var(--small-font);
  cursor: pointer;
  font-family: 'Neucha';
  font-weight: bold;
}

.header_right .nav_links {
  justify-content: space-evenly;
}

.header_right .nav_links a {
  color: var(--primary-color);
  font-size: var(--medium-font);
}

.header_left,
.header_right {
  flex: 1;
}

.header_left .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}

.header_left .logo_container img {
  object-fit: cover;
}

.header_left button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* hero */

.hero {
  width: 100%;
  height: calc(100vh - 15vh);
  position: relative;
}

.hero video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
}

.hero_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: var(--padding-m);
  z-index: 30;
  height: 100%;
}

.hero_left,
.hero_right {
  flex: 1;
}

.hero_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding-large);
  background-color: var(--header-bg);
}
.hero_left #title {
  font-size: var(--xlarge-font);
  color: var(--primary-color);
}
.hero_left .desc {
  font-size: var(--medium-font);
  color: var(--primary-color);
  line-height: 40px;
}

.hero_btn {
  text-decoration: none;
  font-size: var(--medium-font);
  border: 3px solid var(--secondary-color);
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 35px;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.hero_btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero_right .hero_img_container {
  width: 100%;
}
.hero_right img {
  width: 100%;
  object-fit: cover;
}

/* characters - info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: var(--padding-m);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.info h3 {
  font-size: var(--large-font);
}

.info .about {
  font-size: var(--medium-font);
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.character img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top center;
  border: 12px solid white;
}

.character-img#light-image {
  object-position: bottom center;
}

/* quote */
.quote_wrapper {
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  color: var(--primary-color);
  gap: 2rem;
  padding: var(--padding-m);
  background-image: url('../img/bg_illustration.png');
  background-size: cover;
  background-attachment: fixed;
}

.quote q {
  font-size: var(--large-font);
}

.quote h3 {
  font-size: var(--medium-font);
}

.quote .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.742);
  z-index: -2;
}

/* cta */
.cta {
  padding: var(--padding-m);
  background-color: var(--header-bg);
}

.cta_container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-s);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 10px;
}

.cta_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--medium-font);
  flex-shrink: 2;
}

.cta_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta_right a {
  padding: 16px 48px;
  border: 3px solid var(--primary-color);
  font-size: var(--medium-font);
  border-radius: 10px;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.cta_right a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-m);
  gap: 10px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.872);
  color: white;
  font-family: 'Neucha', cursive;
}

footer a {
  color: var(--primary-color);
  font-weight: bold;
}

/* media queries */
@media (max-width: 950px) {
  .header_right {
    display: none;
  }
}

@media (max-width: 850px) {
  .hero_left #title {
    font-size: var(--large-font);
  }
  .hero_left .desc {
    text-align: justify;
  }
  .hero_left .desc,
  .hero_btn {
    font-size: var(--small-font);
  }
}

@media (max-width: 1092px) {
  .hero_content {
    gap: 0.5rem;
  }
}

@media (max-width: 750px) {
  .character img {
    width: 350px;
    height: 350px;
  }
  .characters {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .hero_content {
    flex-direction: column;
  }

  .hero_left .desc {
    line-height: 20px;
    font-size: var(--small-font);
  }

  .hero {
    height: 90vh;
    overflow: hidden;
  }

  .header {
    height: 10vh;
  }

  .header_left button {
    width: 45px;
    height: 45px;
  }
  .header_left button:nth-of-type(2) {
    width: 90px;
    height: 40px;
    border-radius: 0%;
  }

  .header_left .logo_container img {
    width: 55px;
  }
  .header_left .logo_container h1 {
    font-size: var(--medium-font);
  }
}

@media (max-width: 500px) {
  .character img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .cta_left {
    font-size: var(--small-font);
    text-align: center;
  }

  .cta_right a {
    display: block;
    padding: 8px 24px;
    font-size: 1rem;
  }
}

@media (max-width: 1250px) {
  .cta_container {
    flex-direction: column;
    gap: 1rem;
  }

  .cta_right {
    padding: var(--padding-m) 0;
  }
}
